{% extends 'pages/layout.html' %}
{% block body %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Editar Producto</h1>
            {% include 'includes/_flashmsg.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            {% for product in product%}
                            <form role="form" enctype=multipart/form-data class="" action="/edit_product?id={{product.id}}"
                                  method="post">
                                <div class="form-group">
                                    <label>Nombre del Producto</label>
                                    <input class="form-control" required="required" name="name" value="{{product.pName}}" placeholder="Enter name">
                                </div>
                                <div class="form-group">
                                    <label>Precio</label>
                                    <input class="form-control" required="required" name="price" value="{{product.price}}" placeholder="Enter price">
                                </div>
                                <div class="form-group">
                                    <label>Descripcion</label>
                                    <textarea class="form-control" required="required" name="description" rows="3"
                                              placeholder="Write product description">{{product.description}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label>Disponible</label>
                                    <input class="form-control" required="required" value="{{product.available}}" name="available" placeholder="Available">
                                </div>
                                <div class="form-group">
                                    <label>Categoria</label>
                                    <select class="form-control" id="category_id" onchange="populateList();"
                                            name="category">
                                        <option value="camisa">Camisa</option>
                                        <option value="franela">Franela</option>
                                        <option value="chemise">Chemise</option>
                                        <option value="traje">Traje</option>
                                        <option value="corbata">Corbata</option>
                                        <option value="pantalon">Pantalon</option>
                                        <option value="sueter">Sueter</option>
                                        <option value="jean">Jean</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Item</label>
                                    <input class="form-control" required="required" name="item" value="{{product.item}}" placeholder="Ex: watch/shoes">
                                </div>
                                <div class="form-group">
                                    <label>Codigo de Producto</label>
                                    <input class="form-control" required="required" value="{{product.pCode}}" name="code" placeholder="Inngrese el codigo">
                                </div>
                                <div class="form-group">
                                    <label>Cambiar Imagen</label>
                                    <input type="file" name="picture">
                                </div>
                                <button type="submit" class="btn btn-primary">Editar</button>
                            </form>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
