{% extends 'layout.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-3 my-4">
            <div class="list-group">
                <a href="/camisa" class="list-group-item">Camisas</a>
                <a href="/franela" class="list-group-item">Franelas</a>
                <a href="/chemise" class="list-group-item">Chemises</a>
                <a href="/traje" class="list-group-item">Trajes</a>
                <a href="/corbata" class="list-group-item">Corbatas</a>
                <a href="/pantalon" class="list-group-item">Pantalones</a>
                <a href="/sueter" class="list-group-item">Sueteres</a>
                <a href="/jean" class="list-group-item">Jeans</a>
            </div>
        </div>

        <div class="col-lg-9">
            <div class="row">
                {% for product in producto %}
                <div class="col-lg-6">
                    <div class="card mt-4">
                        <img class="card-img-top img-fluid"
                             src="static/image/product/{{product.category}}/{{product.picture}}" alt="">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card card-outline-secondary my-4">
                        <div class="card-header">
                            Detalle de la Compra
                        </div>
                        <div class="card-body">
                            {% from "includes/_formhelpers.html" import render_field %}
                            <form method="POST" action="/{{product.category}}?order={{product.id}}">
                                <div class="form-group">
                                    {{render_field(form.name, class_="form-control")}}
                                </div>
                                <div class="form-group">
                                    {{render_field(form.mobile_num, class_="form-control")}}
                                </div>

                                <div class="form-group">
                                    {{render_field(form.quantity, class_="form-control")}}
                                </div>

                                <div class="form-group">
                                    {{render_field(form.order_place, class_="form-control")}}
                                </div>
                                <button type="submit" class="btn btn-dark">Comprar</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
